
	<div class="row" style="margin-top: 20px">
		<div class="col s12 m4 l4 center-align">
			<!-- <img style="height: 200px" class=" responsive-img" src="https://cdn3.iconfinder.com/data/icons/work-4/154/office-work-tie-round-form-512.png"> -->
      <div class="center promo promo-example">
         <i class="material-icons large">stay_current_portrait</i>
         <p class="promo-caption">Kontakt</p> 
          <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
<a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>button</a>
      </div>
      



		</div>
		<div class="col s12 m4 l4 center-align">
			<!-- <img style="height: 200px" class=" responsive-img" src="https://cdn1.iconfinder.com/data/icons/mix-color-3/502/Untitled-35-512.png"> -->
         <i class="material-icons large">stay_current_portrait</i>
         <p class="promo-caption">Kontakt</p> 
          <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
      


<a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>button</a>
		</div>
		<div class="col s12 m4 l4 center-align">
			<!-- <img style="height: 200px" class=" responsive-img" src="https://cdn0.iconfinder.com/data/icons/creative-business-and-development/512/office_desk_lamp_workplace_studio_working_table_business_work_flat_design_icon-512.png"> -->
         <i class="material-icons large">stay_current_portrait</i>
         <p class="promo-caption">Kontakt</p> 
          <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
      


<a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>button</a>
		</div>

	</div>




